<!-- //BEGIN-SNIPPET custom-footer-table -->
{{#data-table data=data showFooter=true selectionMode='multi' selectionChanged=(action 'selectionChanged') classNames=tableClassNames as |t|}}
  {{t.selectionColumn}}
  {{#t.selectionColumn as |col|}}
    {{#if col.header}}
      is Selected?
    {{/if}}
    {{#if col.body}}
      <button class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off"
        {{action col.change (if col.isRowSelected false true)}} value={{col.isRowSelected}}>
        {{if col.isRowSelected 'Selected' 'Not Selected'}}
      </button>
    {{/if}}
    {{#if col.footer}}
      {{if col.isSelected 'All is selected' 'Not all is selected'}}
    {{/if}}
  {{/t.selectionColumn}}
  {{t.column propertyName='name' name='Name'}}
  {{t.column propertyName='surname' name='Surname'}}
  {{#t.column defaultHeader=true name="Age" as |col|}}
    {{#if col.body}}
      {{sub currentYear col.row.birthYear}}
    {{/if}}
    {{#if col.footer}}
      <b><i>{{totalAges}}</i></b>
    {{/if}}
  {{/t.column}}
  {{#t.column as |col|}}
    {{#if col.header}}
      <span style='text-decoration: underline overline; color:darkred'>Team</span>
    {{/if}}
    {{#if col.body}}
      <img src="{{rootURL}}/assets/images/{{col.row.team}}.png" style="width:32px;height:32px;">
    {{/if}}
    {{#if col.footer}}
      <b># of distinct teams: {{distinctTeams.length}}</b>
    {{/if}}
  {{/t.column}}
{{/data-table}}
<!-- // END-SNIPPET -->
