{{#if (if hasBlock (if defaultHeader false true) false)}}
  {{yield (hash onsortinfoupdate=(action 'onsortinfoupdate') footer=(readonly footer) header=(readonly header))}}
{{else}}
  <span onclick={{action "onclick"}}>
    {{name}}
    {{#if upArrowVisible}}
      <span>▲</span>
    {{else if downArrowVisible}}
      <span>▼</span>
    {{else}}
      <span>●</span>
    {{/if}}
  </span>
{{/if}}
