<nav>
  <ul class="pager">
    {{#if first}}
      <li class={{previousButtonClass}}>
        <a href="#" onclick={{action "first"}}>
          {{#if (has-block)}}
            {{yield (hash first=true)}}
          {{else}}
            {{firstLabel}}
          {{/if}}
        </a>
      </li>
    {{/if}}
    <li class={{previousButtonClass}}>
      <a href="#" onclick={{action "previous"}}>
        {{#if (has-block)}}
          {{yield (hash previous=true)}}
        {{else}}
          {{previousLabel}}
        {{/if}}
      </a>
    </li>
    {{#if currentPage}}
      <li class="disabled">
        <a href="javascript:void(0)">
          {{#if pagesTotal}}
            {{currentPage}}/{{pagesTotal}}
          {{else}}
            {{currentPage}}
          {{/if}}
        </a>
      </li>
    {{/if}}
    <li class={{nextButtonClass}}>
      <a href="#" onclick={{action "next"}}>
        {{#if (has-block)}}
          {{yield (hash next=true)}}
        {{else}}
          {{nextLabel}}
        {{/if}}
      </a>
    </li>
    {{#if last}}
      <li class={{nextButtonClass}}>
        <a href="#" onclick={{action "last"}}>
          {{#if (has-block)}}
            {{yield (hash last=true)}}
          {{else}}
            {{lastLabel}}
          {{/if}}
        </a>
      </li>
    {{/if}}
  </ul>
</nav>
